Django==1.6.5
South==1.0
MySQL-python==1.2.5
django-compressor==1.4
pytz>2012
Pillow==2.5.2
raven
ydcommon==0.1.21
django-tinymce==1.5.2
flup==1.0.3.dev-20110405
django-grappelli==2.5.3
django-filebrowser==3.5.6
django-celery==3.1.10
pyflakes
django-passwords==0.2.0
django-localflavor==1.0
sorl-thumbnail==11.12
django-bower==5.0.1
