Django==2.2.24
MySQL-python==1.2.5
django-compressor==1.5
pytz>2012
Pillow==2.8.1
raven
ydcommon==0.1.26
django-tinymce==1.5.3
flup==1.0.3.dev-20110405
django-grappelli==2.6.5
django-filebrowser==3.5.7
django-celery==3.1.16
pyflakes
django-passwords==0.2.0
django-localflavor==1.1
sorl-thumbnail==12.2
django-bower==5.0.4
