Django==3.2.3
MySQL-python==1.2.5
django-compressor==2.4.1
pytz>2012
Pillow==8.2.0
raven
ydcommon==0.1.68
django-tinymce==3.3.0
flup==1.0.3
django-grappelli==2.15.1
django-filebrowser==3.14.1
django-celery==3.3.1
pyflakes
django-passwords==0.3.12
django-localflavor==3.1
sorl-thumbnail==12.7.0
django-bower==5.2.0
